{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Pildoras de programacion</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="login__field">
              <i class="login__icon fas fa-user"></i>
              <input type="text" name="{{ form.username.html_name }}" class="login__input" id="{{ form.username.id_for_label }}">
          </div>
          <div class="login__field">
              <i class="login__icon fas fa-lock"></i>
              <input type="password" name="{{ form.password.html_name }}" class="login__input" id="{{ form.password.id_for_label }}">
          </div>
          <button type="submit" class="button login__submit">
              <span class="button__text">Log In Now</span>
              <i class="button__icon fas fa-chevron-right"></i>
          </button>
      </form>
      <div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-google"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
</body>
</html>